<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <title> Ne İzlesek Ümmü</title>
    <link rel="icon" type="image/png" href="{% static 'fav.png.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'movie/styles.css' %}">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    {% include 'navbar.html' %}

    <div class="container mt-4">
        <h1 class="mb-4">Filmler</h1>
        {% for movie in Movies %}
            <div class="card mb-4">
                <img src="{{ movie.resim.url }}" class="card-img-top img-fluid" alt="{{ movie.isim }} resim">
                <div class="card-body">
                    <h2 class="card-title">{{ movie.isim }}</h2>
                    <p class="card-text">Tür: {{ movie.tür }}</p>
                    <p class="card-text">Yıl: {{ movie.yıl }}</p>
                    <p class="card-text">{{ movie.aciklama }}</p>
                </div>
            </div>
        {% endfor %}
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>